<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Mirrored from seantheme.com/color-admin-v3.0/admin/html/index_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Sep 2017 12:28:50 GMT -->
<head>
	<meta charset="utf-8" />
	<title>Rockstar hubs | Dashboard v2</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/admin/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/admin/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/admin/assets/css/style.min.css" rel="stylesheet" />
	<link href="/admin/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/admin/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="/admin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/morris/morris.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/admin/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css">
    <link href="/admin/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />

    <link href="/admin/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="/admin/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    
    <link href="/admin/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
    <link href="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="/admin/assets/plugins/pace/pace.min.js"></script>
	<script src="/admin/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		{{> header}}
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		{{> sidebar}}
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		{{{body}}}
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	
	<script src="/admin/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="/admin/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/admin/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/admin/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="/admin/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="/admin/assets/js/table-manage-default.demo.min.js"></script>
	<!--[if lt IE 9]>
		<script src="/admin/assets/crossbrowserjs/html5shiv.js"></script>
		<script src="/admin/assets/crossbrowserjs/respond.min.js"></script>
		<script src="/admin/assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="/admin/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/admin/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<script src="/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/admin/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
	<script src="/admin/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/admin/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="/admin/assets/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="/admin/assets/plugins/masked-input/masked-input.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="/admin/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="/admin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="/admin/assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="/admin/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/admin/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/admin/assets/plugins/bootstrap-show-password/bootstrap-show-password.js"></script>
    <script src="/admin/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="/admin/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script src="/admin/assets/plugins/clipboard/clipboard.min.js"></script>
	<script src="/admin/assets/js/form-plugins.demo.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{{#if (eq active "dashboard")}}
    <script src="/admin/assets/plugins/morris/raphael.min.js"></script>
    <script src="/admin/assets/plugins/morris/morris.js"></script>
    {{/if}}
    <script src="/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/admin/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
    <script src="/admin/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
	<script src="/admin/assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="/admin/assets/js/dashboard-v2.min.js"></script>
	<script src="/admin/assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			FormPlugins.init();
			TableManageDefault.init();
			$("#success-alert").hide();
	        $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
	           $("#success-alert").slideUp(500);
	        });

	        $("#event_image").change(function(e){
	        	var input = this;
	        	if (input.files && input.files[0]) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#img_preview').attr('src', e.target.result);
			        }

			        reader.readAsDataURL(input.files[0]);
			    }
	        });

	        $("#profile_image").change(function(e){
	        	var input = this;
	        	if (input.files && input.files[0]) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#img_preview').attr('src', e.target.result);
			        }
			       
                     reader.readAsDataURL(input.files[0]);
			    }
	        });

	        $("#profile_image").change(function(e){
	        	var input = this;
	        	if (input.files && input.files[0]) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#img_header_preview').attr('src', e.target.result);
			        }
			        reader.readAsDataURL(input.files[0]);
			    }
	        });

	         $("#profile_image").change(function(e){
	        	var input = this;
	        	if (input.files && input.files[0]) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#img_sidebar_preview').attr('src', e.target.result);
			        }
			        reader.readAsDataURL(input.files[0]);
			    }
	        });

	        $("#image").change(function(e){
	        	var input = this;
	        	if (input.files && input.files[0]) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#img_preview').attr('src', e.target.result);
			        }

			        reader.readAsDataURL(input.files[0]);
			    }
	        });
		});
	</script>
	{{#if (eq active "dashboard")}}
	<script type="text/javascript">
	$(document).ready(function(){
		DashboardV2.init();
	});
	</script>
	{{/if}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53034621-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

<!-- Mirrored from seantheme.com/color-admin-v3.0/admin/html/index_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Sep 2017 12:29:07 GMT -->
</html>
